.single-product #content{

    .related-products{
        h1{
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            margin-top: 50px
        }
        .products{
            margin-top: 100px;
            @include outer-container(1440px);
            @include display(flex);
            @include justify-content(space-between);
            @include flex-wrap(wrap);
            li{
                padding: 20px;
                &.product{
                    h3{
                        text-align: center;
                        color: $baseGrey;
                        font-size: 18px;
                        margin-bottom: 0px;
                        position: relative;
                        text-align: center;
                    }
                    .price, .woocommerce-Price-amount{
                        margin-top: 25px;
                        font-size: 14px;
                        text-align: center;
                        font-weight: 600;
                    }
                    &:hover{
                        box-shadow: 0 20px 100px 0 rgba(000, 000, 000, 0.25);
                        @include transition( all, 0.3s, ease-in-out);

                        .ajax_add_to_cart, .add_to_cart_button{
                            opacity: 1;
                            @include transform( translateY( 0 ) );
                            @include transition( all, 0.3s, ease-in-out );
                        }
                    }
                    @include transition( all, 0.3s, ease-in-out);

                    .ajax_add_to_cart, .add_to_cart_button{
                        background-color: $baseBlue;
                        border-radius: 25px;
                        color: #fff;
                        position: relative;
                        right: -59px;
                        opacity: 0;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;
                        @include transform( translateY(50px) );
                        @include transition(all, 0.3s, ease-in-out);
                    }

                }
            }
            a{
                img{
                    width: 335px;
                    height: 240px;
                }
                span{
                    color: $baseGreen;
                    font:{
                        size: 16px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1131px){

        .related-products{
            .products{
                @include outer-container(100vw);
                li{
                    @include span-columns(2 of 4);
                    margin-right: 3.5%;

                    &.description{
                        div{

                            p{
                                max-width: none;
                            }
                            &.parent-category-link{
                                max-width: 206px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 480px){

        .related-products{
            .products{
                @include outer-container(100vw);
                li{
                    @include span-columns(1 of 1);
                    margin-right: 0;

                }
                a{
                    img{
                        height: auto;
                    }
                }
            }
        }
    }
}
