#nav-toggle {
    z-index: 300;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    border: none;
    outline: none;
    &:focus{
        border: none;
    }
    &.active{
        position: absolute;
        right: 42vw;
        @include transition(all, 0.3s, ease-in-out);
        @media screen and (max-width:516px){
            right: 10vw;
        }
    }
    @media screen and (min-width: 769px){
        display: none;
    }
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: rgba(100,146,188,0.80);
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
    background-color: $baseBlue;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
