.shop-lockup{
    margin-top: 130px;
    @include outer-container(1230px);
    li{
        @include span-columns(3);
        padding: 20px;
        &.latest-product{
            &:hover{
                box-shadow: 0 20px 100px 0 rgba(000, 000, 000, 0.25);
                @include transition( all, 0.3s, ease-in-out);
            }
            @include transition( all, 0.3s, ease-in-out);
        }
        &.latest-info{
            height: 380px;
            h2{
                font-size: 24px;
                font-weight: 500;
                max-width: 150px;
                text-transform: uppercase;

            }
            div{
                @include display(flex);
                @include flex-direction(column);
                @include justify-content(center);
                height: 70%;
                p{
                    color: $textGrey;
                    font:{
                        size: 14px;

                    }
                    line-height: 30px;
                    max-width: 206px;
                }
            }
        }
    }
    a{
        img{
            width: 335px;
            height: 240px;
        }
        h2{
            color: $baseGrey;
            text-align: left;
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 35px;
        }
        span{
            color: $baseGreen;
            font:{
                size: 18px;
            }
        }
    }
}
