.single-product #content{

    .related-products{
        .products{
            margin-top: 130px;
            @include outer-container(1230px);
            li{
                @include span-columns(3);
                padding: 20px;
                &.product{
                    h3{
                        text-align: left;
                        color: $baseGrey;
                        font-size: 18px;
                        margin-bottom: 0px;
                        position: relative;
                    }
                    .price, .woocommerce-Price-amount{
                        margin-top: 15px;
                        font-size: 14px;
                        text-align: left;
                        font-weight: 600;
                    }
                    &:hover{
                        box-shadow: 0 20px 100px 0 rgba(000, 000, 000, 0.25);
                        @include transition( all, 0.3s, ease-in-out);

                        .ajax_add_to_cart, .add_to_cart_button{
                            opacity: 1;
                            @include transform( translateY( 0 ) );
                            @include transition( all, 0.3s, ease-in-out );
                        }
                    }
                    @include transition( all, 0.3s, ease-in-out);

                    .ajax_add_to_cart, .add_to_cart_button{
                        background-color: $baseBlue;
                        border-radius: 25px;
                        color: #fff;
                        position: relative;
                        right: -59px;
                        opacity: 0;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;
                        @include transform( translateY(50px) );
                        @include transition(all, 0.3s, ease-in-out);
                    }

                }
                &.description{
                    height: 380px;
                    h1{
                        font-size: 24px;
                        font-weight: 500;
                        max-width: 150px;
                        text-transform: uppercase;

                    }
                    div{
                        @include display(flex);
                        @include flex-direction(column);
                        @include justify-content(center);
                        height: 70%;
                        >p{
                            color: $textGrey;
                            font:{
                                size: 14px;

                            }
                            line-height: 30px;
                            max-width: 206px;
                        }
                        &.parent-category-link{
                            height: initial;
                            a{
                                font-size: 12px;
                                color: $textGrey;
                                text-transform: uppercase;
                                @include display(flex);
                                @include justify-content(space-between);
                                align-items: center;
                                @include transition( all, 0.3, ease-in-out );
                                &:hover{
                                    color: $baseBlue;
                                    @include transition( all, 0.3, ease-in-out );
                                }
                            }
                            span{
                                background:{
                                    image: url('_build/icons/icon-backArrow.svg');
                                }
                                height: 11px;
                                width: 34px;
                                display: -webkit-inline-box;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
            a{
                img{
                    width: 335px;
                    height: 240px;
                }
                h2{
                    color: $baseGrey;
                    text-align: left;
                    font-size: 18px;
                    margin-top: 15px;
                    margin-bottom: 35px;
                }
                span{
                    color: $baseGreen;
                    font:{
                        size: 16px;
                    }
                }
            }
        }
    }
}
