#slider{
    height: 100%;
    overflow: hidden;
    .owl-item{
        //max-width: 1800px;
    }
    .item{
        height: inherit;
        width: 100vw;
        max-width: 1800px;
        margin: 0;
        @include display(flex);
        @include flex-direction(column);
        border-bottom: 1px solid #eee;
        .feature-image{
            img{
                width: 100%;
                max-width: 100%;
                margin-top: 0;
            }
        }
        .product-spec-wrapper{
            >div{
                max-width: 1400px;
                margin: auto;
                @include display(flex);
                @include justify-content(space-around);
                .product-spec{
                    img{
                        width: 119px;
                        padding: 3.5vw 20px;
                    }
                }
            }
        }
    }

}

//common owl carousel styles
.owl-nav {
    @include display(flex);
    @include justify-content(space-between);
    position: absolute;
    left: 20px;
    right: 20px;
    top: calc(50% - 12px);
    div{
        background:{
            color: #fff;
        }
        padding: 10px 15px;
        opacity: 0.9;
        @include transition(all, 0.3s, ease-in-out);

        &:hover{
            opacity: 1;
            @include transition(all, 0.3s, ease-in-out);
        }
    }
    .icon-chevron-left {
        background:{
            image: url(../kommerce/_build/icons/icon-chevron.svg);
            size: cover;
            position: center;
        }
        height: 25px;
        width: 12px;
        display: block;

    }
    .icon-chevron-right {
        background:{
            image: url(../kommerce/_build/icons/icon-chevron.svg);
            size: cover;
            position: center;
        }
        height: 25px;
        width: 12px;
        display: block;
        @include transform(rotateY(180deg));
    }
}
