/*vb-view-builder*/ .view-wrapper.grid,.view-wrapper.magnet{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;position:relative;clear:both}.view-wrapper.grid article,
.view-wrapper.magnet
article{overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;position:relative;float:left;overflow:auto;-webkit-transition:width 0.2s, height 1s;transition:width 0.2s, height 1s}.view-wrapper{position:relative}.view-wrapper
.hidden{visibility:hidden}.view-wrapper .display-block{display:block}.view-wrapper .display-inline{display:inline}.view-wrapper .display-inline-block{display:inline-block}.view-wrapper
img{max-width:100%;height:auto;width:auto;vertical-align:bottom}.view-wrapper .vb-part.content-part{clear:both}li.widget.infinity_widget{padding:0}.pagination{clear:both;width:100%}.share-part{margin:0;padding:0;display:block}.share-part
li{list-style:none;float:left}.share-part
li.first{margin-left:0!important}.fa-icon-size-10
i.fa{font-size:10px}.fa-icon-size-11
i.fa{font-size:11px}.fa-icon-size-12
i.fa{font-size:12px}.fa-icon-size-13
i.fa{font-size:13px}.fa-icon-size-14
i.fa{font-size:14px}.fa-icon-size-15
i.fa{font-size:15px}.fa-icon-size-16
i.fa{font-size:16px}.fa-icon-size-17
i.fa{font-size:17px}.fa-icon-size-18
i.fa{font-size:18px}.fa-icon-size-19
i.fa{font-size:19px}.fa-icon-size-20
i.fa{font-size:20px}.fa-icon-size-21
i.fa{font-size:21px}.fa-icon-size-22
i.fa{font-size:22px}.fa-icon-size-23
i.fa{font-size:23px}.fa-icon-size-24
i.fa{font-size:24px}.fa-icon-size-25
i.fa{font-size:25px}.fa-icon-size-26
i.fa{font-size:26px}.fa-icon-size-27
i.fa{font-size:27px}.fa-icon-size-28
i.fa{font-size:28px}.fa-icon-size-29
i.fa{font-size:29px}.fa-icon-size-30
i.fa{font-size:30px}.fa-icon-size-31
i.fa{font-size:31px}.fa-icon-size-32
i.fa{font-size:32px}.fa-icon-size-33
i.fa{font-size:33px}.fa-icon-size-34
i.fa{font-size:34px}.fa-icon-size-35
i.fa{font-size:35px}.fa-icon-size-36
i.fa{font-size:36px}.fa-icon-size-37
i.fa{font-size:37px}.fa-icon-size-38
i.fa{font-size:38px}.fa-icon-size-39
i.fa{font-size:39px}.fa-icon-size-40
i.fa{font-size:40px}a.vb-post-like{position:relative;padding:1px;font-weight:normal;display:inline-block;width:auto;text-decoration:none;-moz-transition:all 0.3s ease-out 0.2s;-webkit-transition:all 0.3s ease-out 0.2s;-o-transition:all 0.3s ease-out 0.2s}a.vb-post-like.liked{color:purple}i.fa-circle-o-notch{font-size:11px;margin-left:5px;padding:1px;position:absolute;top:0}a.vb-post-like:hover,a.vb-post-like:active,a.vb-post-like:focus,a.liked:hover,a.liked:active,a.liked:focus{color:#000}.magnet-filter.centered{width:100%;text-align:center}.magnet-filter.centered
li{float:none;display:inline}.magnet-filter.centered li
a{display:inline-block}.magnet-filter
li{float:left;list-style:none}.magnet-filter li
a{cursor:pointer;display:block}.magnet-item{height:auto;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.wc-part .star-rating{display:inline-block}.wc-part.button.added:after,.wc-part.button.loading:after{font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.wc-part.button.added:after{content:"\f00c";display:inline-block;padding-left:10px}.wc-part.button.loading:after{content:"\f021";-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;margin-left:10px}