$lineHeight : 50px;

footer{
  overflow: hidden;
  background-color: $baseGrey;
  .footer-widgets {
    padding: 40px 0;
    @include display(flex);
    @include justify-content(space-around);
    color: #fff;
    .footer-widget {
      max-width: 20%;
    }
  }

  
  .widgettitle {
      color: #fff;
      font-weight: normal;
      border-bottom: 1px solid rgba(255,255,255,.2);
      padding: 10px 0;
  }

  .widget_nav_menu {
      .menu {
        li {
            margin: 10px 0;
        }
        a {
            color: rgba(255,255,255,.5);
            &:hover {
                color: rgba(255,255,255,.7);
            }
        }
      }
  }

  .copyright {
      background: #1D2126;
      color: rgba(255,255,255,.5);
      padding: 20px 0;
      font-size: 13px;
      text-align: center;
      p {
          margin: 0;
      }
  }
  
}

@media screen and (max-width:874px){
    footer {
        .footer-widgets {
            flex-wrap: wrap;
            .footer-widget {
                min-width: 100%;
            }
        }
    }
}