footer{
  background-color: $baseGrey;
  text-align: center;
  margin-top: 20px;
  @include display(flex);
  @include outer-container(100vw);

  nav{
    @include span-columns(2 of 4);
    &:after{
        content:"";
        @include span-columns(1 of 4);
        position: absolute;
    }
  }
    .copyright{
        @include  span-columns(1 of 4);
        p{
            color: #fff;
        }   
  }
  #menu-footer{
    padding-left: 0;
    display: inline-block;
    margin-bottom: 0;
    li{
      float: left;
      list-style: none;
      margin: 0 5px;
      a{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
