.page-checkout {
    section{
        margin: 60px auto 100px auto;
    }
    h1{
        text-align: center;
    }
    .create-account{
        @include display(flex);
        @include align-items(center);
        label{
            background-color: transparent;
        }
    }
    .woocommerce{
        max-width: 1230px;
        margin: auto;

        h3{
            font-size: 16px;
        }

        #customer_details{
            margin-bottom: 20px;
            @include display(flex);
            @include flex-direction(column-reverse);

            .col-1, .col-2{
                width: 100%;
                .woocommerce-billing-fields, .shipping_address{
                    @include display(flex);
                    @include flex-wrap(wrap);
                    @include align-items(flex-end);

                    .form-row{
                        width: 24%;
                        position: relative;
                        padding: 0 10px 0;
                        margin: 0 0 10px;
                        &#billing_state_field{
                            width: 16%;
                        }

                        &#billing_postcode_field{
                            width: 12%;
                            label{
                                display: none;
                            }
                        }
                      &:first-of-type,
                      &#billing_country_field, &#billing_state_field {
                        padding: 0;
                      }
                      &.create-account{
                          @include display(flex);
                          width: 100%;
                          align-items: center;
                          padding-left: 0;
                          margin-top: 20px;
                          input{
                              @include order(1);
                          }
                          label{
                              position: initial;
                              margin-bottom: 0;

                          }
                      }
                    }
                }
            }
            .col-2{
                width: 100%;
                margin: 50px 0;
                #order_comments_field{
                    margin-top: 50px;
                }
            }
        }
        #order_review{
            table{
                border: none;
                thead{
                    tr{
                        border-bottom: 1px solid $baseGrey;
                    }
                    th{

                    }
                }
                tbody{
                    .cart_item{
                        padding: 35px 0;
                        height: 185px;
                        border-bottom: 1px solid #000;
                        &:last-of-type{
                            border-bottom: 0;
                        }
                        td{
                            border: none;

                        }
                        .product-thumbnail{
                            img{
                                width: 140px;
                            }
                        }
                        .product-price{
                            span{
                                color: $baseGreen;
                            }

                        }
                        .product-name{
                            a{
                                color: $baseGrey;
                                font:{
                                    size: 18px;
                                    family: "Open Sans";
                                }
                            }
                        }
                    }
                    tr{
                        &:last-of-type{
                            td{
                                padding: 15px 12px;
                            }
                        }
                    }
                }
                tfoot{
                    @include display(flex);
                    @include justify-content(space-between);
                    width: 100vw;
                    max-width: 1230px;
                    background: #f9f9f9;
                    padding: 20px;
                    tr{
                        @include display(flex);
                        @include flex-direction(column);
                        th{
                            border: none;
                        }
                        td{
                            border: none;
                            span{
                                color: $baseGreen;
                            }
                        }
                    }
                    .shipping{
                        height: 100%;

                        td{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1140px){
        .woocommerce{
            width: 90vw;
            #order_review{
                table{
                    display: block;
                    tfoot{
                        width: 90vw;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .woocommerce{
            width: 90vw;
            #customer_details{
                .col-1, .col-2{
                  .form-row{
                    padding: 0px!important;
                  }
                }
                .col-1{
                    .woocommerce-billing-fields{
                        display: inline-block;
                        width: 100%;
                        .form-row, #billing_state_field, #billing_postcode_field{
                            float: left !important;
                            width: 100% !important;
                        }
                    }

                }
                .col-2{
                    h3{
                        &#ship-to-different-address{
                            float: none;
                        }
                    }
                    .shipping_address{
                        display: inline-block;
                        width: 100%;
                        .form-row, #billing_state_field, #billing_postcode_field{
                            float: left !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 463px){
        .woocommerce{

            #order_review{
                table{
                    tfoot{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 359px){
        .woocommerce{
            #order_review{
                table{
                    thead{
                        display: none;
                    }
                    tbody{
                        .cart_item{
                            display: block;
                            height: 100%;
                            width: 80vw;
                            td{
                                display: block;
                            }
                        }
                    }
                }
            }

        }
    }
}
