.modal-open{
    overflow: hidden;
}

.loading-gif{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;

    .loading-image {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
    }
}
.page-press-release{
    .section-press-release{
        max-width: 1440px;
        margin: 60px auto;

        h1{
            text-align: center;
        }
        article{
            @include display(flex);
            @include flex-direction(row);
            min-height: 400px;
            max-height: 400px;
            .featured-image{
                width: 66%;
                max-width: 810px;
                div{
                    background:{
                        position: center;
                        size: cover;
                        repeat: no-repeat;
                    }
                    height: 100%;
                    width: 100%;
                }
            }
            .article-content{
                width: 45%;
                max-width: 640px;
                padding: 50px 60px;

                h1{
                    font:{
                        size: 32px;
                    }
                    text-align: left;
                }
                p{
                    color: $textGrey;
                    font:{
                        size: 16px;
                    }
                }
                .post-footer{
                    margin-top: 16px;
                    @include display(flex);
                }
                .read-more-button{
                    border: 2px solid #6EA1E5;
                    border-radius: 25px;
                    &:hover{
                        border: 2px solid $baseBlue;
                        background-color: $baseBlue;
                        @include transition(all, 0.3, ease-in-out);
                        #read-more{
                            color: #fff;
                        }
                    }
                }
                #read-more{
                    color: #6EA1E5;
                    font-size: 15px;
                    text-decoration: underline;
                    margin-top: 16px;
                    @include transition(all, 0.3, ease-in-out);
                    padding: 5px 10px;
                    text-decoration: none;

                }
            }
            &:nth-of-type(2n){
                @include flex-direction(row-reverse);
            }
        }
    }
}
.article-meta{
    p{
        font-size: 13px;
        span{
            color: $baseBlue;
        }
    }
}

/*
** Single post lightbox
**
*/

.modal-wrapper{

    &.open{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(000, 000, 000, 0.68);
        @include display(flex);
        @include align-items(center);
        z-index: 200;
        overflow-y: scroll;
    }
    .pagination-icon-lockup{
        position: absolute;
        width: 70%;
        max-width: 1008px;
        top: 25vw;
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
    }
    .icon{
        cursor: pointer;
        @include transition(all, 0.3, ease-in-out);
        height: 54px;
        &.icon-left{
            @include transform(rotate(180deg));
            margin-left: -138px;
        }
        &.icon-right{
            margin-right: -79px;
        }
        .svg{
            path, g{
                fill: #ffffff;
                stroke: #ffffff
            }
        }
        &.icon-close{
            text-align: right;
            margin-right: -40px;
            margin-top: -14px;
        }
        &:hover{
            opacity: 0.6;
            @include transition(all, 0.3, ease-in-out);
        }
    }
    .modal-lockup{
        height: 100vh;
        width: 100vw;
        max-width: 960px;
        width: 80vw;
        height: auto;
        margin: 25% auto 5% auto;

    }

    .modal-content{
        background-color: #fff;
        border-radius: 8px;
        @include filter(drop-shadow(0px 0px 7px rgba(0,0,0,0.9)));

        .featured-image{
            height: 400px;
            background:{
                position: center;
                size: cover;
                repeat: no-repeat;
            }
            border-radius: 8px 8px 0 0;
            position: relative;
            @include display(flex);
            @include align-items(center);
            .article-header{
                margin: auto;
                color: #fff;

            }
            .title-box{

                h1{
                    font-size: 90px;
                    margin-bottom: 28px;
                    line-height: 30px;
                }
                h2{
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            .article-social{
                @include display(flex);

            }
        }
        .post-content{
            padding: 3vw 5vw;
            .article-meta{
                margin-bottom: 20px;
            }
            p{
                font:{
                    size: 16px;

                }
                color: $textGrey;
            }
        }
    }
}
