body{
    -webkit-font-smoothing: antialiased;
    max-width: 1800px;
    margin: auto;
    overflow-x: hidden;
}


article, section {
    width: inherit;

}

// Typography

h1{
    font-size: 50px;
}
