/* Site base colours */

$baseGrey : #23282D;
$baseBlue : #006DD1;
$baseGreen : #61B11B;

$base-font-color: $baseGrey;
$base-font-size: 1em;
$base-font: 'Poppins';
$base-font-family : $base-font, $base-font-family;
